.imagemap-container {
    position: relative;
    display: inline-block;
}
    .imagemap-container > img {
        max-width: 100%;
    }

.imagemap-title {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
    padding: 0px 6px 0px 6px;
}

.imagemap-text {
    font-weight: normal;
    line-height: initial;
    padding: 2px 6px 2px 6px;
    border-radius: 0px 0px 6px 6px;
    background-color: rgba(66, 139, 202, 0.90);
}

.imagemap-button {
    position: absolute;
    min-width: 80px;
    min-height: 40px;
    border-radius: 6px;
    color: white;
}
    .imagemap-button:hover, .imagemap-button:focus {
        text-decoration: none;
        color: white;
    }
    .imagemap-button.disabled:hover {
        cursor: default;
    }
    .imagemap-button.disabled .imagemap-text {
        background-color: rgba(130, 130, 130, 0.90);
    }

    .imagemap-button .imagemap-title {
        background-color: rgba(66, 139, 202, 0.90);
        border-bottom: 1px solid rgba(255, 255, 255, 0.90);
    }
    .imagemap-button.imagemap-danger .imagemap-title {
        background-color: rgba(225, 105, 105, 0.85);
    }
    .imagemap-button.imagemap-warning .imagemap-title {
        background-color: rgba(194, 190, 104, 0.90);
    }
    .imagemap-button.imagemap-success .imagemap-title {
        background-color: rgba(108, 200, 105, 0.90);
    }
    .imagemap-button.disabled .imagemap-title {
        background-color: rgba(178, 178, 178, 0.90);
    }

span.imagemap-button {
    cursor: default;
}
.imagemap-container.editable .imagemap-button {
    cursor: grab;
}
