.imagemap-container {
    position: relative;
    display: inline-block;
}
    .imagemap-container > img {
        max-width: 100%;
    }

.imagemap-title {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
}

.imagemap-text {
    font-weight: normal;
    line-height: initial;
    margin: 4px;
}

.imagemap-button {
    position: absolute;
    min-width: 80px;
    min-height: 40px;
    border-radius: 6px;
    color: white;
    background-color: rgba(66, 139, 202, 0.75);
}
    .imagemap-button:hover, .imagemap-button:focus {
        text-decoration: none;
        color: white;
    }
    .imagemap-button.disabled:hover {
        cursor: default;
    }
    .imagemap-button.disabled {
        background-color: rgba(194, 194, 194, 0.85);
    }
    .imagemap-button.imagemap-success {
        background-color: rgba(194, 194, 194, 0.85);
    }

    .imagemap-button.imagemap-danger .imagemap-title {
        background-color: rgba(225, 105, 105, 0.75);
    }
    .imagemap-button.imagemap-warning .imagemap-title {
        background-color: rgba(219, 214, 105, 0.75);
    }
    .imagemap-button.imagemap-success .imagemap-title {
        background-color: rgba(108, 219, 105, 0.75);
    }
    .imagemap-button.disabled .imagemap-title {
        background-color: rgba(178, 178, 178, 0.85);
    }

span.imagemap-button {
    cursor: default;
}
.imagemap-container.editable .imagemap-button {
    cursor: grab;
}
